._ {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0;
  color: #fff;
  background-color: transparent;
  border: 0.0125rem solid #fff;
  font-size: 1.25rem;
}

._:hover {
  box-shadow: 0 0 0.5rem #fff;
}

.primary {
  margin-bottom: 1rem;
  padding: 1rem 0.75rem;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  border: 0.0125rem solid #fff;
  border-radius: 0.25rem;
  background-color: transparent;
}

.primary:active {
  background-color: hsla(0, 0%, 100%, 0.4);
}

.round {
  width: 2rem;
  border-radius: 50%;
}

.round:active {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.delete {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  width: 2rem;
  border: none;
  border-radius: 0.75rem;
}

.delete:active {
  background-color: hsla(0, 0%, 100%, 0.4);
}
