:root {
  --main-background-color: #000;
  --text-color: #fff;
}

body {
  margin: 0;
}

._ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  background: url(../../../data/image/village.png) no-repeat;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.623);
  box-sizing: border-box;
}
